<h1> Login details recovering</h1>

<form action="/users/recover" method="post">
  <label for="email">Please enter your email address
    <input type="email" name="email">
  </label>
    <input type="submit" value="Submit">
</form>
